"*":
  core:
    autoHideMenuBar: true
    automaticallyUpdate: false
    disabledPackages: [
      "exception-reporting"
      "metrics"
    ]
    reopenProjectMenuCount: 0
    restorePreviousWindowsOnStart: "no"
    telemetryConsent: "no"
  editor:
    fontFamily: "Operator Mono Medium"
    fontSize: 24
    lineHeight: 1.25
    tabLength: 4
    tabType: "soft"
  "line-ending-selector":
    defaultLineEnding: "LF"
  welcome:
    showOnStartup: false
